In [1]:
import requests
import tweepy
import os
import re
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

from dotenv import load_dotenv   #for python-dotenv method

True

In [7]:
# load the .env file variables
load_dotenv()  

consumer_key = os.environ.get('CONSUMER_KEY')
consumer_secret = os.environ.get('CONSUMER_SECRET')
access_token = os.environ.get('ACCESS_TOKEN')
access_token_secret = os.environ.get('ACCESS_TOKEN_SECRET')
bearer_token = os.environ.get('BEARER_TOKEN')

# Use tweepy.Client()
client = tweepy.Client( bearer_token=bearer_token, 
                        consumer_key=consumer_key, 
                        consumer_secret=consumer_secret, 
                        access_token=access_token, 
                        access_token_secret=access_token_secret, 
                        return_type = requests.Response,
                        wait_on_rate_limit=True)

In [8]:
query = '#100daysofcode (pandas OR python) -is:retweet'

# get max. 100 tweets
tweets = client.search_recent_tweets(query=query, 
                                    tweet_fields=['author_id','created_at','lang'],
                                     max_results=10)

In [9]:
# Save data as dictionary
tweets_dict = tweets.json() 

# Extract "data" value from dictionary
tweets_data = tweets_dict['data'] 

# Transform to pandas Dataframe
df = pd.json_normalize(tweets_data) 

df

,created_at,id,lang,text,author_id
0,2022-06-18T00:23:16.000Z,1537954058627010561,en,We have a team of professionals\n#Assignmenthe...,1248663064817422336
1,2022-06-18T00:21:46.000Z,1537953681672269827,en,"Need Help?\nKindly Dm for,\n#Biochem\n#Algebra...",1428676583993352200
2,2022-06-18T00:21:39.000Z,1537953653146779649,en,Pay us to do or write your \n#Assignments \n#c...,1288142066082557954
3,2022-06-18T00:19:33.000Z,1537953125969014785,en,Pay us to do or write your \n#Assignments \n#c...,1288142066082557954
4,2022-06-18T00:18:59.000Z,1537952980552413184,en,We offer Legit &amp; Quality academic solution...,1248663064817422336
5,2022-06-18T00:16:37.000Z,1537952388266348544,en,#Excellency is our top focus \n #Essayshelp\n#...,1248663064817422336
6,2022-06-18T00:15:30.000Z,1537952107923329026,en,#online class\n#assignments\n#economics \n#ess...,1248663064817422336
7,2022-06-18T00:15:30.000Z,1537952105972961280,en,Grade A+ assured in any timed paper\n#Essay du...,1248663064817422336
8,2022-06-18T00:15:26.000Z,1537952088663072768,en,We are available to help you complete your ess...,1248663064817422336
9,2022-06-18T00:15:26.000Z,1537952087912304642,en,We are available 24/7\n#python\n#homeworkdue \...,1248663064817422336